version: "3.8"

services:
  postgres:
    image: postgres:15-alpine
    container_name: turbofy-postgres
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: c4102143751b6e25d238
      POSTGRES_DB: turbofy
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD", "pg_isready", "-U", "postgres"]
      interval: 5s
      timeout: 3s
      retries: 10
    restart: unless-stopped

volumes:
  postgres_data: